[submodule "Test"]
	path = Test
	url = https://gitlab.com/celia_2025-group/test.git
[submodule "tools"]
	path = tools
	url = https://gitlab.com/celia_2025-group/tools.git
[submodule "util"]
	path = util
	url = https://gitlab.com/celia_2025-group/util.git
